/* Dark Blue:  #05386B
Dark Green: #379683
Middle Green #5CDB95
Light Green #8EE4AF
Bone #EDF5D1
*/

h1,
h2,
h3,
h4 {
  color: #edf5d1;
}

.container {
  text-align: center;
  width: 25%;
  background-color: #379683;
  margin: 0 auto;
}

